body {
  background: #5D1049;
}

.canvas-wrapper{
  padding-top: 40px;
}

.center {
  display:  block;
  margin-left: auto;
  margin-right: auto;
}

.controllers{
  flex: none;
  flex-wrap: nowrap;
  padding-left: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 525px;
  margin-right: 0px;
  vertical-align: middle;
}

.display-3{
  color: rgb(234, 205, 225);
  width: 100%;
  padding-left: 20px;
  margin-top: -18px;
  margin-right: auto;
}

.note{
    color: rgb(234, 205, 225);
    padding-left: 16px;

}

.btn {
      color: rgb(234, 205, 225);
      border-color: rgb(234, 205, 225);
      background-color: #5D1049;
      padding: 10px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      border-radius: 5px;
      width: fit-content;
      height:  fit-content;
  }

.btn:hover {
      background-color: rgb(234, 205, 225);
      color:  #5D1049;
  }

.btn:active {
      background-color: rgb(234, 205, 225);
      box-shadow: 0 1px #999;
      transform: translateY(1px);
  }

.btn:focus {
      color: rgb(234, 205, 225);
      border-color: rgb(234, 205, 225);
      background-color:  #5D1049;
      box-shadow: 0 0px ;
      transform: translateY(0px);
}  

